{
  "development": {
    "username": "sampleDbUsrName",
    "password": "sampleDbPassword",
    "database": "sampleDbName",
    "host": "sample host ip",
    "port": 3306,
    "dialect": "mysql",
    "operatorsAliases": 0
  },
  "production": {
    "username": "sampleDbUsrName",
    "password": "sampleDbPassword",
    "database": "sampleDbName",
    "host": "sample host ip",
    "port": 3306,
    "dialect": "mysql",
    "operatorsAliases": 0
  }
}
